.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(var(--background-start-rgb), 0.8),
    rgba(var(--callout-rgb), 0.5)
  ), url(../public/space-bg.jpg) no-repeat center center fixed;
}

.form {
  max-width: 100%;
  opacity: 1;
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 0 8px;
}

.footer {
  height: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px 8px;
  width: 100%;
}

.footerInner {
  color: rgba(255, 255, 255, 0.45);
  font-size: 15px;
}

.logo {
  height: 32px;
  width: 116px;
  filter:  drop-shadow(0 0 0.3rem #ffffff70);
}

.level {
  margin-left: auto;
  color: rgba(255, 255, 255, 0.8);
}

.question {
  font-size: 2.3em;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
  margin-bottom: 32px;
  width: 600px;
  max-width: 100%;
  text-align: left;
  filter: drop-shadow(0 0 0.1rem #ffffff70);
  height: 100px;
  align-items: flex-end;
  display: flex;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px;
  max-width: 100%;
}

.form {
  max-width: 100%;
  opacity: 1;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {


  .question {
    font-size: 1.9em;
  }

  .main {
    padding: 8px;
  }

  .content {
    padding: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 0 8px;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.form {
  height: 70px;
  width: 600px;
  max-width: 100%;
  border-radius: 12px;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: border 0.12s ease-in-out;
  box-shadow:  0 0 40px 10px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0 0 0.3rem  rgba(0, 0, 0, 0.25));
  display: flex;
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1);
  background-size: 30px;
}

.form:focus-within {
  border-color: rgba(255, 255, 255, 0.80);
  background-image: url('../public/enter.svg');
}

.mainInput {
  padding: 12px 0 12px 18px;
  background: none;
  font-size: 17px;
  font-weight: 500;
  border: none;
  flex: 1;
  outline: none;
  color: white;
}

.submitButton {
  display: none;
}

.form:focus-within .submitButton {
  display: block;
  border: none;
  width: 60px;
  height: 100%;
  background: none;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 2rem; }
  75% { margin-left: -2rem; }
  100% { margin-left: 0rem; }
}

.error {
  animation: shake 0.18s ease-in-out 0s 2;
}

.form.invisible, .question.invisible {
  opacity: 0;
}

.form.visible, .question.visible {
  opacity: 1;
  transition: opacity 3s cubic-bezier(0, 1.45, 1, 1);
}


@keyframes pop {
  0% {
    transform: translateY(200%) scale(0.6);
    opacity: 0;
    box-shadow:  0 0 60px 20px rgba(0, 0, 0, 0.25);

  }
  20% {
    transform: translateY(50%) scale(0.8);
    opacity: 0.35;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    box-shadow:  0 0 60px 20px rgba(0, 0, 0, 0.45);

  }
}


.notification {
  height: 84px;
  width: 600px;
  max-width: 100%;
  border-radius: 12px;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: border 0.12s ease-in-out;
  box-shadow:  0 0 60px 20px rgba(0, 0, 0, 0.45);
  filter: drop-shadow(0 0 0.3rem  rgba(0, 0, 0, 0.25));
  display: flex;
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1);
  background-size: 30px;
  border-color: rgba(255, 255, 255, 0.80);
  align-items: center;
  animation: pop 0.25s cubic-bezier(0.24, 0.85, 0.58, 1);
  animation-fill-mode: forwards;
}

.notificationText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3px;
  color: white;
}

.notificationTitle {
  font-size: 1.4em;
  margin-bottom: 5px;
}

.notificationDescription {
  font-size: 0.95em;
  opacity: 0.65;
  display: flex;
  align-items: flex-end;
  font-weight: normal;
}

.notificationIcon {
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepIcon {
  width: 50px;
  height: 50px;
  display: block;
}

.notificationButton {
  border: none;
  border-left: 2px solid rgba(255, 255, 255, 0.35);
  width: 70px;
  height: 100%;
  background: none;
  margin-left: auto;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.downloadIcon, .checkIcon {
  width: 32px;
  height: 32px;
}

/* Mobile */
@media (max-width: 700px) {

  .notification {
    height: 70px
    /* padding-top: 20px; */
  }

  .notificationIcon {
    display: none;
  }
  
  .notificationText {
    padding-left: 14px;
    /* padding: 20px 14px; */
  }

  .notificationTitle {
    font-size: 1.02em;
    margin-bottom: 3px;
  }

  .notificationDescription {
    font-size: 0.84em;
  }

  .notificationButton {
    width: 60px;
  }


}